.Chat-main
  .Chat-main__group-info
    .left-header
      .group-name
        test
      .member-name
        Menber:masa
    .right-header
      .edit-btn
        = link_to "#", class: "edit-btn" do
          Edit
      .null-box
  .Chat-main__message-list
    .message-information
      .message-name
        masa
      .message-date
        2019/11/20(Wed) 17:43:01
    .message-text
      おはよう！

    .message-information
      .message-name
        utikubigokumon
      .message-date
        2020/11/20(Wed) 17:43:01
    .message-text
      こんにちは！
  
  .Chat-main__message-form
    %form.new__message
      .input-box
        %input{type: "text", class: "input-box__text", placeholder: "type a message"}
        %label{class: "input-box__image"}
          = icon('fas', 'image')
          %input{type: "file", class: "input-box__image__file"}
      %input{type: "submit", class: "submit-btn"}