* {
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  display: flex;
}

.Side-bar {
  height: 100vh;
  width: 300px;
  background-color: #253141;
  &__user-name {
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    .top-items {
      height: 20px;
      width: 260px;
      // background-color: #d8d8d8;
      display: flex;
      justify-content: space-between;
      font-weight: bold;
      color: #ffffff;
      &__icons {
        width: 60px;
        display: flex;
        justify-content: flex-end;
        .icon-btn {
          color: #ffffff;
          margin-left: 5px;
        }
      }
    }
  }
  &__group-list {
    width: 260px;
    padding: 0 20px;
    font-weight: bold;
    color: #ffffff;
    .group-list__name {
      margin-top: 20px;
      font-size: 15px;
    }
    .group-list__message {
      margin: 5px 0 40px 0;
      font-size: 11px;
    }
  }
}

.Chat-main {
  height: 100vh;
  width: calc(100vw - 300px);
  background-color: #ffffff;
  &__group-info {
    height: 100px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    .left-header {
      
      .group-name {
        margin: 35px 0 0 40px;
        font-size: 20px;
        color: #333333;
      }
      .member-name {
        margin: 15px 0 0 40px;
        font-size: 12px;
        color: #999999;
      }
    }
    .right-header {
      width: 112px;
      display: flex;
      justify-content: flex-start;
      .edit-btn {
        height: 40px;
        margin: 28px 20px 32px 20px;
        font-size: 16px;
        color: #38aef0;
      }
      .null-box {
        width: 40px;
        height: 100px;
      }
    }
  }
  .Chat-main__message-list {
    height: calc(100vh - 190px);
    padding: 35px 40px;
    .message-information {
      margin: 35px 0 12px 40px;
      display: flex;
      .message-name {
        font-size: 16px;
        color: #333333;
      }
      .message-date {
        margin-left: 10px;
        font-size: 12px;
        color: #999999;
      }
    }
    .message-text {
      margin: 0 0 46px 40px;
      color: #434A54;
      font-size: 14px;
    }
  }
  .Chat-main__message-form {
    height: 90px;
    background-color: #d2d2d2;
    padding: 20px 40px;
    box-sizing: border-box;
    .new__message {
      display: flex;
      .input-box {
        display: flex;
        width: 100%;
        position: relative;
        .input-box__text {
          height: 50px;
          width: 100%;
          color: #434a54;
          border-style: none;
          padding: 0 40px 0 10px;
        }
        .input-box__image {
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;
          font-size: 1.3rem;
        }
        .input-box__image__file {
          display: none;
        }
      }
      .submit-btn {
        width: 100px;
        height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        background-color: #38aef0;
        color: white;
        border-style: none;
        cursor: pointer;
      }
    }
  }
}